{% extends 'admin/base_stats.html' %}
{% block content %}
<h1 class="text-center">Thống kê báo cáo doanh thu</h1>

<h2>Thống kê doanh thu theo tháng</h2>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <table>
            <tr>
                <th>Tháng</th>
                <th>Doanh thu</th>
            </tr>
            {% for r in revenue_by_month %}
            <tr>
                <td>{{ r.month }}</td>
                <td>{{ r.total_revenue }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-8 col-xs-12 row">
        <div class="col-md-4 col-xs-6">
            <form>
            <div class="form-group mb-3">
                <label for="year">Theo năm:</label>
                <input type="number" min="2000" class="form-control" name="year" id="year" placeholder="Nhập năm...">
            </div>

            <input type="submit" value="Thống kê" class="btn btn-primary">
        </form>
        </div>
        <div class="col-md-4 col-xs-6">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = []
    let data = []
    let colors = []
    let borderColors = []
    let r, g, b

    {% for r in revenue_by_month %}
        labels.push('{{ r.month }}')
        data.push(Number('{{ r.total_revenue }}'))

        r = Math.floor(Math.random() * 255)
        g = Math.floor(Math.random() * 255)
        b = Math.floor(Math.random() * 255)

        colors.push(`rgba(${r}, ${g}, ${b}, 0.5)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('myChart').getContext('2d')
        loadChart(ctx, labels, data, 'bar', colors, borderColors)
    }

    function loadChart(ctx, labels, data, type, colors, borderColors) {
        new Chart(ctx, {
            type: type,
            data: {
                labels: labels,
                datasets: [{
                    label: 'Doanh thu các tháng',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        })
    }
</script>

{% endblock %}